
/* MOBILE STYLES */
@media screen and (max-width:480px) {

  .clearfix .title {
    float: none;
  }

  .clearfix .first-nav {
    float: none;
  }

  article {
    float: none;
  }

  aside {
    float: none;
  }

}

/* DESKTOP STYLES */ 
@media screen and (min-width:960px) {

  body {
    width: 62.5%;
    margin:0 auto;
  }

  .clearfix .title {
    top:0;
    left:0;
    float: left;
    width:70%;
  }

  .clearfix .first-nav {
    right:0;
    float:right;
    width:30%;
    margin-top:30px;
  }  

  .clearfix .first-nav ul {
    display: inline;
  }

  .clearfix .first-nav ul li {
    display: inline;
    padding:5px;
  }

  .clearfix .first-nav ul li a {
    text-decoration: none;
  }

  .main-image img{
    width:100%;
    border-top:3px solid black;
  }

  .main-image figcaption {
    border-bottom:3px solid black;
  }

  .main-container img {
    width:100%;
  }

  article {
    float: left;
    width:55%;
  }

  aside {
    float: right;
    width:35%;
    height:300px;
    border:3px solid black;
    margin-top:20px;
  }

  aside nav ul li a {
    text-decoration: none;
  }

}
