
/* MOBILE STYLES */
@media screen and (max-width:480px) {

  .clearfix .title {
    float: none;
    width:inherit;
    text-transform: uppercase;
  }

  .clearfix .first-nav {
    float: none;
    width:inherit;
  }

  article {
    float: none;
    width:inherit;
  }

  aside {
    float: none;
    width:inherit;
  }

}

/* TABLET STYLES */
@media screen and (max-width:955px) {
}

/* DESKTOP STYLES */ 
@media screen and (min-width:965px) {

  body {
    font-size:62.5%; /* 1em = 10px */
    width: 960px;
    margin:0 auto;
  }

  .clearfix .title {
    top:0;
    left:0;
    float:left;
    width:66.78%;
    font-size:4em;
    text-transform: uppercase;
  }

  .clearfix .first-nav {
    top:0;
    right:0;
    float:right;
    width:31.25%;
    margin-top:20px;
  }  

  .clearfix .first-nav ul {
    display: inline-flex;
  }

  .clearfix .first-nav ul li {
    padding:5px;
  }

  .clearfix .first-nav ul li a {
    text-decoration: none;
    font-size:2.2em;
  }

  .main-image img{
    width:100%;
  }

  .main {
    width:960px;
  }

  .main img {
    width:100%;
  }

  article {
    float: left;
    width:55%;
  }

  .inner.sidebar {
    float: right;
    width:35%;
    height:300px;
    border:2px solid black;
    margin-top:20px;
  }

  .sidebar ul {
    list-style-type: none;
  }

  .sidebar ul li a {
    text-decoration: none;
  }

}
